#services {
  padding: 60px 0; }

#services-call-to-action {
  background-color: #fccd05; }
  #services-call-to-action h2 {
    color: #313E59; }

.header-background-image {
  background-image: url("../images/header2.jpg"); }

.testimonial-background-image {
  background-image: url("../images/header4.jpg");
  background-color: #313E59;
  background-blend-mode: luminosity; }

.bottom-curve {
  background-image: url("../images/curve.png");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
  width: 100%;
  background-size: contain;
  position: absolute;
  bottom: -1px; }

textarea {
  resize: none; }

.header-button {
  border-radius: 60px 0 0 60px; }

#contact {
  margin-bottom: 40px; }

.uk-navbar {
  padding: 5px 0; }

.uk-navbar-transparent {
  background: #6986BF;
  opacity: 0.74; }

.navbar-mobile {
  background: #6986BF !important;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.28); }

.uk-box-shadow-large:not(.uk-navbar-transparent) {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.28); }

.uk-button-text {
  box-sizing: border-box;
  border-radius: 0;
  padding: 0px 71px 0px 54px;
  line-height: 56px;
  color: #fff;
  border: 1px solid white; }
  .uk-button-text:hover {
    background-color: #ba4108;
    color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.08);
    border: none;
    line-height: 54px;
    padding: 0px 72px 0px 55px; }
  .uk-button-text::before {
    right: 25px; }

.uk-section-secondary {
  background: #313E59; }

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #313E59; }

.el-content {
  font-size: 1.3em; }

.totop {
  position: fixed;
  right: 60px;
  bottom: 90px;
  width: 80px;
  visibility: hidden;
  opacity: 0;
  transition: all .2s linear; }

.totop-visible {
  visibility: visible;
  opacity: 1; }

.side-image {
  padding-left: 50px;
  border-radius: 0 0 30px 0; }
