.section-background-img
  background-image: url('https://malujemypoznan.com.pl/templates/yootheme/cache/color-3238003_1920-7fa0dd65.jpeg')
  // box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.27)
.bottom-curve
  background-image: url("../images/curve.png")
  background-repeat: no-repeat
  background-position: bottom 
  height: 100%
  width: 100%
  background-size: contain
  position: absolute
  bottom: -1px
textarea
  resize: none
